<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RaspiCar Controller</title>
    <link rel="manifest" href="static/manifest.json">
    <link rel="stylesheet" type="text/css" href="static/lib/jquery-ui.min.css"></link>
    <link rel="stylesheet" type="text/css" href="static/car.css"></link>
    <script src="static/lib/jquery-3.1.1.min.js"></script>
    <script src="static/lib/jquery-ui.min.js"></script>
    <script src="static/lib/jquery.ui.touch-punch.min.js"></script>
    <script src="static/lib/socket.io.min.js"></script>

    <script>
        $(function() {
            var socket=null;
            var curKeyMap = {};

            $("#webcamstart").button()
              .click(function() {
                fetch("/mjpeg?start=1").then(function() {
                  motionJpeg();
                });
              });

            $("#slider-speed").slider({
                orientation: "vertical",
                range: "min",
                min: -35,
                max: 35,
                value: 0,
                slide: function(event, ui) {
                    console.log(ui.value);
                }
            });

            $("#slider-direction").slider({
                orientation: "horizontal",
                range: "min",
                min: -100,
                max: 100,
                value: 0,
                slide: function(event, ui) {
                    console.log(ui.value);
                }
            });

            $(document).ready(function() {
                socket = io.connect('http://' + document.domain + ':' + location.port);
                socket.on('connect', function() {
                    socket.emit('is_connected', {data: 'I\'m connected!'});
                });

                motionJpeg("#webcam");
                document.onkeydown = checkKey;
                document.onkeyup = checkKeyUp;
            });

            function send(com, opts) {
                socket.emit('command', {command: com, opts: opts || []});
            }

            function checkKey(e) {

                e = e || window.event;

                if (e.keyCode == '38' && !curKeyMap[e.keyCode]) {
                    // up arrow
                    send('F', [35]);
                    $("#slider-speed").slider("value", 35);
                } else if (e.keyCode == '40' && !curKeyMap[e.keyCode]) {
                    // down arrow
                    send('B', [35]);
                    $("#slider-speed").slider("value", -35);
                } else if (e.keyCode == '37' && !curKeyMap[e.keyCode]) {
                    // left arrow
                    send('L');
                    $("#slider-direction").slider("value", -100);
                } else if (e.keyCode == '39' && !curKeyMap[e.keyCode]) {
                    // right arrow
                    send('R');
                    $("#slider-direction").slider("value", 100);
                }
                curKeyMap[e.keyCode] = true;
            }

            function checkKeyUp(e) {
                if (e.keyCode == '38' || e.keyCode == '40') {
                    send('H');
                    $("#slider-speed").slider("value", 0);
                } else {
                    send('S');
                    $("#slider-direction").slider("value", 0);
                }
                curKeyMap[e.keyCode] = false;
            }


            function motionJpeg(id) {
                var image = $(id);

                image.on("load", function() {
                    $("#webcamstart").button().hide()
                    motionJpegSet(this);
                });

                image.on("error", function(e) {
                  console.error("error loading image",e);
                  $("#webcamstart").button().show()
                });

                motionJpegSet(image);
            }

            function motionJpegSet(img) {
                img.src = "{{ mjpeg_serv_url }}&n=" + Date.now();
            }

        });
    </script>
</head>

<body>
    <div id="webcamcont">
       <button id="webcamstart">Start Video</button>
       <img id="webcam" src="{{ mjpeg_serv_url }}"></img>
    </div>
    <div id="slider-speed" />
    <div id="slider-direction" />

</body>

</html>
